<a href="https://colab.research.google.com/github/Ali-Hassan-Afandi/Ali_Hassan_Afandi/blob/main/Module_3_Python_For_Beginners.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Print Statement

Python For Beginners

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("MAhpara Siddique")
#this is a print statement

MAhpara Siddique

variables

In [ ]:
kitchen = 999
print(type(kitchen))

<class 'int'>

Arithmetic Operators

In [ ]:
x = 5
y = 10
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)

15
-5
50
0.5
5

LOgical Operator

In [ ]:
opr1 = True
opr2 = False
opr3 = True
print((opr1 and opr3) or opr2)
print(opr1 or opr2)
print(not opr2)

True
True
True

Comparison Operator

In [ ]:
x = 5
y = 10
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
False
True
False
True

IF ELIF ELSE statements

In [ ]:
weather = "cold"

if weather == "rainy":
  print("Take an Umbrella")
elif weather == "sunny":
  print("wear sunglasses")
else:
  print("Enjoy the weather")

Enjoy the weather

In [ ]:
age = 10
if age >= 18:
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

You are not eligible to vote

For Loop

In [ ]:
for i in range(3,10,2): #start , end(exclusive), jump
  print(i)

3
5
7
9

While Loop

In [ ]:
i = 0
while i < 10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

User defined function

In [ ]:
def multiply (x,y):
  output = x*y
  return output

x = 5
y = 10
output = multiply(x,y)
print(output)

50

built in function

In [ ]:
x = 5
y = 10
maximum = max(x,y)
minimum = min(x,y)
print(minimum)
print(maximum)

5
10

List

In [ ]:
bakery = ["bread","butter","jam"]
print(bakery)
print(bakery[2])

['bread', 'butter', 'jam']
jam

In [ ]:
bakery = ["bread","butter","jam"]
for i in range(len(bakery)):
  print(bakery[i])

bread
butter
jam

In [ ]:
bakery = ["bread","butter","jam"]

for items in bakery:
  print(items)

bread
butter
jam

In [ ]:
bakery = ["bread","butter","jam"]
bakery[1] = "eggs"
print(bakery)

['bread', 'eggs', 'jam']

tuple

In [ ]:
bakery = ("bread","butter","jam")
print(type(bakery))

<class 'tuple'>

In [ ]:
bakery = ("bread","butter","jam")

print(bakery)

('bread', 'butter', 'jam')

set

In [ ]:
box = {"bread", 2 ,2 , 3, 4, 5 , 5, "ali", 2}
print(box)

{'bread', 'ali', 2, 3, 4, 5}

In [ ]:
box = {"bread", 2 ,2 , 3, 4, 5 , 5, "ali", 2}
print(box)

{'bread', 'ali', 2, 3, 4, 5}

In [ ]:
bakery = {"bread","butter","jam"}
for items in bakery:
  print(items)

bread
jam
butter

dictionary

In [ ]:
person = {"name": "ali", "age": 20, "gender": "male"}
print(person)
print(person["gender"])

{'name': 'ali', 'age': 20, 'gender': 'male'}
male

In [ ]:
person = {"name": "ali", "age": 20, "gender": "male"}
person["name"] = "ahmad"
print(person)

{'name': 'ahmad', 'age': 20, 'gender': 'male'}

In [ ]:
x =
print(type(x))

<class 'int'>